<%= link_to assunto.nome.upcase, home_resolvendo_path(:materia_id => assunto.materia_id, :assunto_id => assunto.id), :class => 'assunto'%>
    
<ul>    
	<% unless assunto.assuntos.blank? %>
		<% assunto.assuntos.each do |assunto| %>
			<li class="tree">
	    		<%= render :partial => 'assuntos', :locals => { :assunto => assunto } %>
	    	</li>
	    <% end %>
	<% end %>
</ul>
