<ul class="nav nav-list">
  <li class="nav-header">Materias</li>
  <% @materias.each do |m|%>
  	<li class="<%= materia_active m.id%>">
  		<%= link_to m.nome, root_path(:materia_id => m.id)%>
  	</li>
  <% end %>
  <% if @materias.blank? %>
  	<li class="active"><a href="#">Não há cadastro</a></li>
  <% end %>
  
</ul>